<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rzhylj.mapper.CategoryMapper">
    <resultMap id="ProductResult" type="Category">
        <id property="id" column="id"/>
        <result property="typename" column="typename"/>
        <collection property="productList" ofType="Product">
            <id property="id" column="product_id"/>
            <result property="goodsname" column="goodsname"/>
            <result property="price" column="price"/>
            <result property="category_id" column="category_id"/>
        </collection>
    </resultMap>

    <select id="findProductByTypename" parameterType="string" resultMap="ProductResult">
        SELECT c.*, p.id as product_id, p.goodsname, p.price, p.category_id
        from category c,
             product p
        WHERE c.id = p.category_id
          and c.typename = #{typename}
    </select>
</mapper>
